<p id="notice"><%= notice %></p>

<h1>ソフト一覧</h1>

<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>値段</th>
      <th>メーカー</th>
      <th>ハード</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @softwares.each do |software| %>
      <tr>
        <td><%= software.name %></td>
        <td><%= software.price %></td>
        <td><%= software.maker %></td>
        <td><%= software.hard %></td>
        <td><%= software.created_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= software.updated_at.in_time_zone('Tokyo').strftime('%Y/%m/%d %H:%M') %></td>
        <td><%= link_to 'Show', software %></td>
        <td><%= link_to 'Edit', edit_software_path(software) %></td>
        <td><%= link_to 'Destroy', software, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'ソフト追加', new_software_path %>
