<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @software.name %>
</p>

<p>
  <strong>値段:</strong>
  <%= @software.price %>
</p>

<p>
  <strong>メーカー:</strong>
  <%= @software.maker %>
</p>

<p>
  <strong>ハード:</strong>
  <%= @software.hard %>
</p>

<%= link_to '編集', edit_software_path(@software) %> |
<%= link_to '戻る', softwares_path %>
