<p id="notice"><%= notice %></p>

<p>
  <strong>名前:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>値段:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>メーカー:</strong>
  <%= @product.maker %>
</p>

<%= link_to '編集', edit_product_path(@product) %> |
<%= link_to '戻る', products_path %>
